# Update package repositories
sudo apt update

# Install necessary packages
sudo apt install git tree mysql-client -y

# Clone the Git repository (without sudo)
git clone -b vp-rem https://github.com/devopshydclub/vprofile-project.git

# Execute MySQL commands to import data
mysql -h "${rds_endpoint}" -u "${dbuser}" --password="${dbpass}" accounts --ssl-mode=DISABLED < /home/ubuntu/vprofile-project/src/main/resources/db_backup.sql
